@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    font-size: 0.9rem;
    background-color: #2B91F6;
}


/* .register-window{

    width:100vw;
    height:100vh;
    background-color: #f4f4f4;
    color:#333;
} */

.formContainer{

    padding:30px;
    height: fit-content;
    width: 35%;
    text-align: center;
    margin:auto;
    background-color: #5FC4FF;
    color:#fff;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px 3px #2B8FF9;
    transform: scale(0.8);
    transition: all 1s;
}

.formContainer:hover{
    box-shadow: 10px 10px 10px 3px #5FC4FF;
    transform: scale(1);
    border-radius: 25px;
}


.company-title{

    font-family: 'Moon Dance', cursive;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    /* background-color: red; */
    width: 100%;

}

.form-column-contaienr{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-header{
    height: 10%;
    width: 100%;
}

.form-header h2{
    font-size: 1.4rem;
    margin: 10px 0px;
}

p{
    width: 100%;
    font-size: 0.8rem;
    margin:10px 0px;
}

input{
    width: 100%;
    min-height: 35px;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    margin: 10px 0px;
    padding:10px;
}

.btn{
    width: 100%;
    min-height: 35px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    border: none;

}

.btn:hover{
    box-shadow: 2px 2px 5px 5px #2B91F6;
}

.form-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex:1;
}

.input-container{
    width: 100%;
    align-items: center;
    text-align: left;
}

.input-container label{
    display: block;
}

.terms-agreement , .privacy-agreement{
    color:blue;
}

.form-footer{
    background-color: #5FC4FF;
    color:#fff;
    margin-top: 20px;
    display: flex;
    /* background-color: #333; */
}

.form-footer h3{
    line-height: 1.9rem;
    text-align: center;
    font-size: 0.8rem;
}

/*~Media queries*/

@media screen and (max-width : 720px){

    .circle-like{
        transform: scale(0.75);

    }


}